@use "farwords";

main {
  grid-area: main;
  @include farwords.flexBox(space-around, row);
  width: 90%;

  hr {
    border: {
      radius: 1em;
      style: dashed;
      width: 2px;
      color: #cecccc;
    }
    width: 100%;
    margin-bottom: 1em;
  }

  section {
    padding: 2em;
    width: 45%;

    ul {
      list-style: none;
      li {
        line-height: 1.7em;
        text-align: left;
        word-break: break-all;
      }
    }
  }
}
