//Variables
$text-color: #fff !default;
$bodyBackground: #908f8f !default;
$hoverColor: #747373 !default;
$head-shadow: -7px -3px #747373 !default;
$imgBorderRadius: 11px 11px 0 0 !default;
$imgBoxShadow: -1px -3px #515151 !default;
$textShadow: 1px 2px 3px #fff !default;
